<!-- <a href="{:U('Index/index')}" title="">我我我我我我我我我我</a> -->
<extend name="Base:base" />

<block name="other_css">
    <!--轮播图样式-->
    <link type="text/css" href="/Public/Admin/webuploader/style.css" rel="stylesheet" />
    <!--图片缩放放大镜图标-->
    <link type="text/css" href="/Public/Admin/zoomify/zoomify.min.css" rel="stylesheet" />
</block>

<!-- 内容结束开始 -->
<block name="main_content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <a href="{:U('bannerAddEdit')}" class="btn btn-primary">添加编辑</a>
            </div>
            <volist name="list" id="v">
                <div class="banner">
                    <img src="{$v.pic.file_path}" >
                </div>
            </volist>
        </div>
    </div>
</block>
<!-- 内容结束结束 -->

<block name="other_script">
<!--图片缩放-->
<script type="text/javascript" charset="utf-8" src="/Public/Admin/zoomify/zoomify.min.js"></script>
<script type="text/javascript">
    $('img').zoomify();
</script>
</block>