<div id="navMenubox">
	<ul class="navMenu">
		<li> 
		    <a href="{:U('Index/index')}" <if condition="CONTROLLER_NAME == 'Index'"> class="active" </if> >
		        <i class="fa fa-user"></i>
		        <span>个人中心</span>
		    </a> 
		</li>

	    <li>
	        <a href="javascript:;" <if condition="CONTROLLER_NAME == User">class="active"</if> >
	            <i class="fa fa-user"></i>
	            <span class="">主页</span> 
	            <span class="arrow"></span> 
	        </a>
	        <ul class="sub-menu"  <if condition="CONTROLLER_NAME == User">style="display: block;"</if>>
	            <li>
	            	<a href="{:U('User/user')}" <if condition="$_SERVER['PATH_INFO'] == 'User/user'">class="active"</if>>
	            		用户管理
	            	</a>
	            </li>
	            <li>
	            	<a href="{:U('User/role')}" <if condition="$_SERVER['PATH_INFO'] == 'User/role'">class="active"</if>>
	            		角色管理
	            	</a>
	            </li>
	            <li><a href="javascript:;">权限管理</a></li>
	            <li><a href="javascript:;">我的任务</a></li>
	            <li><a href="javascript:;">个人信息</a></li>
	        </ul>
	    </li>

	    <li>
	        <a href="javascript:;" <if condition="CONTROLLER_NAME == Web">class="active"</if> > 
	            <i class="fa fa-user"></i>
	            <span class="">网站管理</span> 
	            <span class="arrow"></span> 
	        </a>
	        <ul class="sub-menu"  <if condition="CONTROLLER_NAME == Web">style="display: block;"</if>>
	            <li>
	            	<a href="{:U('Web/web')}" <if condition="$_SERVER['PATH_INFO'] == 'Web/web'">class="active"</if>>
	            		网站设置
	            	</a>
	            </li>
	        </ul>
	    </li>
	    
	    <li> 
	        <a href="javascript:;">
	            <i class="fa fa-user"></i>
	            <span>文章管理</span>
	        </a> 
	    </li>

	    <li> 
	        <a href="javascript:;"> 
	            <i class="fa fa-user"></i>
	            <span class="nav-text">系统管理</span> 
	            <span class="arrow"></span> 
	        </a>
	        <ul class="sub-menu">
	            <li><a href="javascript:;" >用户管理</a></li>
	            <li><a href="javascript:;">角色管理</a></li>
	            <li><a href="javascript:;">系统参数</a></li>
	        </ul>
	    </li>

	    <li> 
	        <a href="javascript:;"> 
	            <i class="fa fa-user"></i>
	            <span class="nav-text">统计报表</span> 
	            <span class="arrow"></span> 
	        </a>
	        <ul class="sub-menu">
	            <li><a href="javascript:;" >发运表</a></li>
	            <li><a href="javascript:;">发运结算表</a></li>
	            <li><a href="javascript:;">自营车表</a></li>
	            <li><a href="javascript:;">导入发运报表</a></li>
	            <li><a href="javascript:;">打印</a></li>
	            <li><a href="javascript:;">数据查询</a></li>
	        </ul>
	    </li>
	</ul>
</div>