<div id="navMenubox">
	<ul class="navMenu">
		<li> 
		    <a href="{:U('Index/index')}" <if condition="CONTROLLER_NAME eq 'Index'"> class="active" </if> >
		        <i class="fa fa-user"></i>
		        <span>个人中心</span>
		    </a> 
		</li>

	    <li>
	        <a href="javascript:;" <if condition="CONTROLLER_NAME eq Poetry">class="active"</if> >
	            <i class="fa fa-user"></i>
	            <span class="">诗词文句</span>
	            <span class="arrow"></span>
	        </a>
	        <ul class="sub-menu"  <if condition="CONTROLLER_NAME eq Poetry">style="display: block;"</if>>
	            <li>
					<a href="{:U('Poetry/poem')}" <if condition="$url eq 'Poetry/poem'">class="active"</if>>诗词歌赋</a>
				</li>
	            <li>
					<a href="{:U('Poetry/sentence')}" <if condition="$url eq 'Poetry/sentence'">class="active"</if>>佳句</a>
				</li>
	        </ul>
	    </li>

	    <li>
	        <a href="javascript:;" <if condition="CONTROLLER_NAME eq Auth">class="active"</if> >
	            <i class="fa fa-user"></i>
	            <span class="">权限管理</span>
	            <span class="arrow"></span>
	        </a>
	        <ul class="sub-menu"  <if condition="CONTROLLER_NAME eq Auth">style="display: block;"</if>>
	            <li>
					<a href="{:U('Auth/myAuth')}" <if condition="$url eq 'Auth/myAuth'">class="active"</if>>我的权限</a>
				</li>
	            <li>
					<a href="{:U('Auth/admin')}" <if condition="$url eq 'Auth/admin'">class="active"</if>>管理员</a>
				</li>
	            <li>
					<a href="{:U('Auth/module')}" <if condition="$url eq 'Auth/module'">class="active"</if>>模块管理</a>
				</li>
	            <li>
					<a href="{:U('Auth/rule')}" <if condition="$url eq 'Auth/rule'">class="active"</if>>规则管理</a>
				</li>
	            <li>
					<a href="{:U('Auth/resetPwd')}" <if condition="$url eq 'Auth/resetPwd'">class="active"</if>>安全设置</a>
				</li>
	        </ul>
	    </li>

		<li>
			<a href="javascript:;" <if condition="CONTROLLER_NAME eq System">class="active"</if> >
			<i class="fa fa-user"></i>
			<span class="">系统设置</span>
			<span class="arrow"></span>
			</a>
			<ul class="sub-menu"  <if condition="CONTROLLER_NAME eq System">style="display: block;"</if>>
				<li>
					<a href="{:U('System/aboutUs')}" <if condition="$url eq 'System/aboutUs'">class="active"</if>>关于我们</a>
				</li>
				<li>
					<a href="{:U('System/banner')}" <if condition="$url eq 'System/banner'">class="active"</if>>轮播图</a>
				</li>
			</ul>
		</li>

	</ul>
</div>