<!-- <a href="{:U('Index/index')}" title="">我我我我我我我我我我</a> -->
<extend name="Base:base" />

<block name="other_css"></block>

<!-- 内容结束开始 -->
<block name="main_content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="form-group">
                <a href="{:U('adminAddEdit')}" class="btn btn-primary">添加编辑</a>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>账号</th>
                        <th>昵称</th>
                        <th>权限</th>
                        <th>是否启用</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <volist name="list" id="v">
                    <tbody>
                        <tr>
                            <td>{$v.id}</td>
                            <td>{$v.account}</td>
                            <td>{$v.nickname}</td>
                            <td>{$v.account}</td>
                            <td>
                                <switch name="v.status">
                                    <case value="1">是</case>
                                    <case value="0">否</case>
                                </switch>
                            </td>
                            <td>
                                <a class="btn btn-success btn-xs" href="{:U('Auth/adminAddEdit', array('id'=>$v['id']))}">编辑</a>
                            </td>
                        </tr>
                    </tbody>
                </volist>
            </table>
        </div>
    </div>
</block>
<!-- 内容结束结束 -->


<block name="other_script"></block>